{{!-- image --}}
{{!-- Icon mady by: https://www.flaticon.com/authors/freepik --}}

{{!-- Eat-Da-Burger! --}}
<div class="container header">
    <h1>Eat-Da-Burger!</h1>
    <img src="assets/img/burger.png" class="image">
</div>

{{!-- Two columns for burgers --}}
<div class="container mainContent">
    <div class="row shadow-lg p-1 mb-5 bg-dark rounded">
        {{!-- Column One --}}
        <div class="col-6 columnOne">
            <h2 class="text-center">Burgers Remaining!</h2>
                {{#each burgers}}
                {{#unless devoured}}
                    <ul>
                        {{id}}) {{burger_name}}
                    <button class="devour-burger" data-id="{{id}}">Devour It!</button>
                    </ul>
                {{/unless}}
                {{/each}}
        </div>

        {{!-- Column Two --}}
        <div class="col-6 columnTwo">
            <h2 class="text-center">Burgers Devoured!</h2>

            {{#each burgers}}
            {{#if devoured}}    
                <ul>
                  {{id}}) {{burger_name}} 
                </ul>              
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>


{{!-- Text input --}}

{{!-- Submit Button --}}

<form id="create-form">
    <div class="form-group">
        <input type="text" id="bu" name="name">
        <button type="submit" >Add Burger!</button>
    </div>
</form>

{{!-- Enter a burger you want to eat and Click the "Submit" button. --}}
<h3>Enter a burger you want to eat and Click the "Submit" button.</h3>


